
/* Global styles */

*{
    margin: 0px;
    padding: 0px;
}

/* Global styles */

/*

    Lighter color   #902bf5   - dark violet
    Darker color    #5800b1   - light violet

*/

/* HEADER SECTION STYLES*/

header{
    background-color: silver;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5vh;
}

/*LOGO*/
.header_name{
   margin-left: 20px;
   width: 20%;

}
/*END OF LOGO*/

.header_name:hover{
    color: #902bf5;
    text-decoration: underline;
    font-size: large;
    
}

.header_action_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin-right: 20px;

}

/*Buttons*/

#header_btn_ng{
    background-color: #902bf5;
    border: 2px solid #5800b1;
    padding: 8px;
    color: white;
    font-weight: bold;
}

#header_btn_cr{
    background-color: #902bf5;
    border: 2px solid #5800b1;
    padding: 8px;
    color: white;
    font-weight: bold;
}
/*Buttons*/

/* END HEADER SECTION STYLES*/

/* MAIN SECTION STYLES*/

.main_section{
    width: 100%;
    height: 90vh;
}

.main_section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.side_left{
    height: 100%;
    width: 10%;
}

/*Main css grid element*/
.main_app{
   
    height: 100%;
    width: 80%;
    border: 2px solid #5800b1;
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
   
    min-width: 0;
    min-height: 0;
    width: 100%;
    height: 100%;
   
}
/*END OF Main css grid element*/

.pink_border{
    border: 2px solid #5800b1;
}

.side_right{
  
    height: 100%;
    width: 10%;
}

.main_img {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*Wrapping div element for a image*/ 
.center_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}


/* Class to mark the winning tiles */
.win_border{
    box-shadow: 1px 1px 1px 1px #5800b1;
    animation: pulse-animation 2s infinite;
    border: 2px solid rgb(33, 161, 184);
    z-index: 1;
}

@keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 50px rgba(0, 0, 0, 0);
    }
  }
/*end of addable class in case of the win */


/*END MAIN SECTION STYLES*/


/* FOOTER SECTION STYLES*/

footer{
    width: 100%;
    height: 5vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

footer p{
    text-align: center;
    vertical-align: super;
}

/* END FOOTER SECTION STYLES*/


/* RESPONSIVE DESIGN */


@media only screen and (max-width:700px){
    
    header{
     
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 15vh;

    }
    
    .header_action_section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        margin-right: 20px;
    
    }

    .main_section{
        width: 100%;
        height: 75vh;
    }

    #header_btn_ng{

        padding: 2px;

        font-weight: bold;
        margin-top: 10px;
        height: 70%;
        width: 100px;

    }
    
    #header_btn_cr{

        padding: 2px;
        color: white;
        font-weight: bold;
        margin-top: 10px;
        width: 100px;
        margin-bottom: 10px;

    }


    footer{
        width: 100%;
        height: 10vh;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }


}

@media only screen and (max-width:900px){
    
    #header_btn_ng{

        padding: 4px;

        font-weight: bold;
        margin-right: 20px;
        margin-left: 30px;
        height: 70%;

    }
    
    #header_btn_cr{

        padding: 4px;
        color: white;
        font-weight: bold;
        margin-right: 20px;
        margin-left: 30px;
    }


    #pl_1_rez{
        margin-left: 20px;
    }
    #pl_2_rez{
        margin-left: 20px;
    }
}



/*END OF RESPONSIVE DESIGN*/